html {
  scroll-behavior: smooth;
}

p {
  color: #f0f0e6;
  font-size: 16px;
  font-family: "Quattrocento", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
}

.section {
  padding: 72px 48px;
  display: flex;
}

@media (min-width: 991px) {
  .section {
    padding: 108px 48px;
    height: 100vh;
  }
}

.section-one {
  background-color: #25b79f;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.section-one h1 {
  color: #07374a;
  font-size: 36px;
  padding-bottom: 20px;
}

.section-one p {
  font-size: 16px;
  text-align: center;
}

.section-content > .chevron-down {
  color: #07374a;
  font-size: 24px;
}

.section-content.bottom {
  padding-top: calc(50vh - 130px);
}

.section-two {
  background-color: #07374a;
  flex-direction: column;
  justify-content: space-between;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header h2,
h4 {
  color: #25b79f;
  font-size: 36px;
  padding-bottom: 48px;
  text-align: center;
}

.section-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 20px;
}

@media (min-width: 991px) {
  .section-body {
    flex-direction: row;
  }
}

.section-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-box > div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
}

.profile-image-container {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url("/assets/profile-pic.JPG");
  background-size: 250px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

.profile-description {
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 32px;
}

.tools-section-subheading {
  color: #f0f0e6;
  font-size: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.tools-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (min-width: 991px) {
  .tools-list {
    flex-direction: row;
  }
}

li {
  color: #25b79f;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 700;
}

.portfolio-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-to-portfolio {
  font-family: "Quattrocento", sans-serif;
  color: #25b79f;
  font-size: 18px;
  padding: 24px;
  text-align: center;
  text-decoration: none;
}

.down-arrow {
  font-size: 20px;
  font-weight: bolder;
}

.section-three {
  background-color: #25b79f;
  height: auto;
  flex-direction: column;
  align-items: center;
}

h4 {
  color: #07374a;
  font-size: 36px;
  padding-bottom: 48px;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proj-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.proj-title-container,
.proj-description,
.proj-tools {
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}

.proj-title {
  font-size: 18px;
  color: #07374a;
  text-align: center;
}

.proj-tools {
  padding-bottom: 12px;
}

.proj-details button {
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400px;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  color: #07374a;
  padding: 6px 12px;
  border: 1px solid #07374a;
  border-radius: 5px;
  cursor: pointer;
}

.proj-details button:hover {
  background-color: #07374a;
  color: white;
}

.proj-preview {
  padding: 12px;
  background: #07374a;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 24px;
}

.proj-image-container {
  height: 300px;
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
}

.window-buttons {
  display: flex;
  padding-bottom: 8px;
}

.window-button {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: white;
  margin-right: 4px;
}

.proj-image {
  height: 100%;
  width: 100%;
  background-position: center;
}

.proj-image-1 {
  background-image: url("/assets/rock-paper-scissors-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.proj-image-2 {
  background-image: url("/assets/calculator-3.png");
  background-size: contain;
  background-repeat: repeat;
}

@media (min-width: 991px) {
  .project:nth-child(odd) {
    flex-direction: row;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project {
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .section-three {
    height: 100vh;
  }
  .section-project {
    display: flex;
    flex-direction: row;
  }

  .proj-details {
    width: 280px;
  }

  .proj-text {
    line-height: 28px;
  }
}

footer {
  background-color: #07374a;
  height: 450px;
  display: block;
  align-items: center;
}

h6 {
  color: #25b79f;
  font-size: 36px;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.email-container {
  padding-bottom: 16px;
}

.find-me-text {
  color: #25b79f;
  padding-bottom: 36px;
}

.contact-row {
  display: flex;
}

.app-container {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
}

.app-icon svg {
  height: 16px;
  width: 16px;
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app-container p {
  color: #25b79f;
  font-size: 16px;
  font-family: "Comfortaa", Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.app-container:hover .app-text {
  color: white;
}
.app-container:hover .app-icon-svg g {
  fill: white;
}
