<div class="section section-three" id="section-three">
  <div class="section-content">
    <div class="section-header">
      <h1 class="header">Portfolio</h1>
    </div>
    <div class="section-project">
      <div class="project">
        <div class="proj-details">
          <div class="proj-title-container">
            <h1 class="subheader subheader-1 proj-title">Rock-Paper-Scissors Game</h1>
          </div>
          <div class="proj-description proj-description-1">
            <p class="proj-text">Classic Rock-Paper-Scissors game with autoplay feature</p>
          </div>
          <div class="proj-tools">
            <p>Uses: JavaScript</p>
          </div>
          <button>View Project</button>
        </div>
        <div class="proj-preview">
          <div class="window-buttons">
            <div class="window-button"></div>
            <div class="window-button"></div>
            <div class="window-button"></div>
          </div>
          <div class="proj-image-container proj-image-container-2">
            <div class="proj-image proj-image-1">
            </div>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="proj-details">
          <div class="proj-title-container">
            <h1 class="subheader subheader-2 proj-title">Calculator</h1>
          </div>
          <div class="proj-description proj-description-2">
            <p class="proj-text">Basic Calculator application</p>
          </div>
          <div class="proj-tools">
            <p>Uses: JavaScript</p>
          </div>
          <button>View Project</button>
        </div>
        <div class="proj-preview">
          <div class="window-buttons">
            <div class="window-button"></div>
            <div class="window-button"></div>
            <div class="window-button"></div>
          </div>
          <div class="proj-image-container proj-image-container-2">
            <div class="proj-image proj-image-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
